<p id="notice"><%= notice %></p>
  <h1>Dashboard</h1>
    <p>So far there have been <%= @all.count %> transaction(s) in your account</p>
    <p>You have $<%= @all.total %> left in your account</p>
    <p>So far, your biggest expense ever is <%= @all.biggest_expense_ever.name %> -$<%= @all.biggest_expense_ever.exchange %></p>
    <p>You've had <%= @all.transaction_count_this_month %> transaction(s) this month</p>
    <p>Your total balance for this month (<%= Time.now.strftime("%B") %>) is $<%= @all.transaction_total_this_month %></p>
      <p>Your largest transaction this month was from <%= @all.biggest_expense_current_month.name %> $<%= @all.biggest_expense_current_month.exchange %></p>
    <p>You had <%= @all.transaction_count_last_month %> transaction(s) last month</p>
    <p>Your total balance as of last month was $<%= @all.transaction_total_last_month %></p>
      <% if @all.total < 0 %>
        <p>You're in the negative!<p>
      <% end %>
<%= link_to 'Transactions', transactions_path %>
<%= link_to 'New Transaction', new_transaction_path %>
